@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #252525;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
}

@layer components {
  .btn-primary {
    @apply disabled:opacity-75 disabled:bg-blue-900 bg-blue-900 ease-in-out text-slate-100 duration-300 hover:text-slate-300 hover:bg-slate-900 w-36 h-10 font-bold shadow-lg shadow-black/50 rounded-lg;
  }

  .form-control {
    @apply shadow-lg w-6/12 shadow-black/50 border-0 rounded py-2 px-3 bg-zinc-900 text-slate-300 focus:outline-none font-bold disabled:bg-zinc-700 disabled:text-black disabled:cursor-not-allowed disabled:border-red-700/70 disabled:border-[1px];
  }

  .option-style {
    @apply bg-white/90 rounded-lg border-black border-2 text-black p-2 cursor-pointer ease-in-out duration-300 hover:bg-amber-400 hover:text-white/90;
  }

  .badge {
    @apply inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-slate-300 bg-cyan-900 rounded-full;
  }
}
